#main-app {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
	background: linear-gradient(-45deg, #0E011B, #29073E);
	background-size: 400% 400%;
	animation: gradient 30s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}